body {
    background-color: black;
}

h1, form {
    color: aliceblue;
}

h1, div {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }

h1 {
    text-align: center;
    
  }